.app-container {
  padding: 2em;
  /* min-height: 100vh; */
}


/** Globally scoped utility classes
* These help to cut down on inline styles and
* redefining the common properties in every
* other class we define
*/
.flex {
  display: flex;
}

.flex-col{
  flex-direction: column !important;
}